<%!
    import markupsafe

    def br(text):
        return text.replace("\n",markupsafe.Markup("<br />\n"))
%>

<%def name="print_sheet(sheet)">
    <section class="sheet">
        <ol>
% for entry in sheet.entries:
            <%
                from qaqa_bot.model import EntryType
                is_question = entry.type == EntryType.QUESTION
            %>
            <li class="entry ${entry.type.name.lower()}">
                ${gettext("Q:") if is_question else gettext("A:")}
                ${entry.text |n,br}
% if show_authors:
                <div class="meta">
                    von ${entry.user.name}
                </div>
% endif
            </li>
% endfor
        </ol>
        <footer>
            <a href="${base_url}/sheet/${encode_id(b'sheet+' if show_authors else b'sheet', sheet.id)}/?lang=${lang}${"&authors=1" if show_authors else ""}">${gettext("Permalink")}</a>
        </footer>
    </section>
</%def>
